.flex-container {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.selected-product {
  margin: 3px;
  background: #0004;
  border-radius: 4px;
  padding: 5px;
}

.btn {
  border-width: 3px;
}
